:root {
    --default-clr: #a2ca71;
    --darker-default-clr: #387f39;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Verdana, sans-serif;
}

body {
    max-width: 1024px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    position: relative;
}

.container nav button,
.container nav input,
.container video {
    cursor: pointer;
}

.container button {
    display: flex;
    padding: 5px;
    border: none;
    border-radius: 50%;
}

.container button:hover {
    background-color: #fff;
}

.container video {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.container nav {
    background-color: var(--default-clr);
    display: flex;
    align-items: center;
    gap: 5.5px;
    padding: 15px;
    font-weight: 700;
    border-radius: 0 0 15px 15px;
}

nav #time-range {
    flex-basis: 85%;
}
